@import '../base/variables';

/* NOSOTROS.HTML*/

.main__nosotros{
    background-image: url(../assets/Background-nosotros.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    section article h1 {
        padding-bottom: 20px;
    }

    .contenedor__nosotros{
        display: flex;
        flex-flow: wrap;
        justify-content: center;

        .card{
            padding: 10px;

            .card-nosotros{
                color: $blanco;
                background-color: $color-secundario;
                opacity: 70%;
                padding: 10px;
            }
        }
    }
}

/* FIN NOSOTROS.HTML*/