@import '../base/variables';
@import '../base/mixin';

/*PRODUCTOS.HTML*/

.main__productos{
    background-image: url(../assets/Background-nosotros.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $negro;

    .tarjetas{

        @include tarjetasproducto(grid,repeat(3, 1fr),center,20px,50px);

        .tarjeta{
            text-decoration: none;
            list-style: none;

            h2{
                color: $negro;
                text-align: center;
            }

            img{
                width: 100%;
                object-fit: cover;
                padding-bottom: 15px;
            }

            .tarjeta__contenedora{
                display: flex;
                flex-flow: column;

                button{
                    @include botonesproducto($blanco,15px,$color-secundario,3px 3px,50%);
                    text-decoration: none;
                    border: none;
                    align-self: center;

                    &:hover{
                        background-color: $color-principal;
                        color: $negro
                    }
                }
                ul{
                    text-decoration: none;
                    list-style: none;
                }
            }
        }
    }
}
/*FIN PRODUCTOS.HTML*/