@import '../base/variables';
@import '../base/mixin';

/*PRODUCTOS.HTML*/

.main__productos{
    background-image: url(../assets/Background-nosotros.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $negro;

    .tarjetas{

        @include tarjetasproducto(grid,repeat(3, 1fr),center,20px,50px);

        .tarjeta{
            text-decoration: none;
            list-style: none;

            h2{
                color: $negro;
                text-align: center;
                font-size: x-large;
            }

            img{
                width: 100%;
                object-fit: cover;
                padding-bottom: 15px;
            }

            .imgModal{
                width: 150px;
            }

            .tarjeta__contenedora{
                display: flex;
                flex-flow: column;

                .modalBackground{
                  background-color: $color-principal;
                  color: $blanco;

                  .btn-close{
                    width: 2rem;
                  }
                }

                .btn-primary{
                  background-color: $color-principal;
                  border: none;
              
                  &:hover{
                    background-color: #cf5f19;
                    border: none;
                    animation: scale 2s ease ;
                  }
              
                  @keyframes scale{
                    0%{
                      transform: scale(1);
                    }
                    50%{
                      transform: scale(1.1);
                    }
                    100%{
                      transform: scale(1);
                    }
                  }
                }
            }
        }
    }
}

.btn{
  color: #ffffff;
  background-color: $color-principal;
  border: 2px $blanco;
}

.cart-title{
  color: $blanco;
  font-size: large;
  background: $color-principal;
  letter-spacing: 1px;
  font-weight: bold;
}

.dropdown-menu{
  background-color: $color-principal;
  padding: 15px;

  ul {
    padding: 0px;
    background-color: $color-principal;
  
    li{
      list-style: none;
      background-color: $color-principal;

    }
  }

  .cart-list-subtotal{
    font-size: large;
    color: $blanco;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.finalizar-compra{
  list-style: none;
  & li{
    font-size: large;
  }
}

.btn-warning{
  &:hover{
    background-color: $color-secundario;
    color: $blanco;
  }
}

.btn-primary-f{
  background-color: $color-secundario;
  &:hover{
    background-color: #058805;
    color: $blanco;
  }
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: $color-principal;
  color: $blanco;
}
/*FIN PRODUCTOS.HTML*/