@import '../layout/index.scss';
@import '../layout/nosotros.scss';
@import '../layout/contacto.scss';
@import '../components/logo.scss';
@import '../components/footer.scss';
@import '../components/nav.scss';
@import './mediasquery.scss';

/* PAGINA DE INICIO*/
@font-face {
    font-family: 'lato';
    src: url(../assets/Lato/Lato-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';
}


/*PRODUCTOS.HTML*/

.main__productos{
    background-image: url(../assets/Background-nosotros.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000000;
}

.tarjetas{
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.tarjeta{
    text-decoration: none;
    list-style: none;
}

.tarjeta h2{
    color: #000000;
    text-align: center;
}

.tarjeta__contenedora{
    display: flex;
    flex-flow: column;
}

.tarjeta__contenedora button{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border: none;
    background-color: #5e7b79;
    padding: 3px 3px;
    width: 50%;
    align-self: center;
}

.tarjeta__contenedora button:hover{
    background-color: #D59975;
    color: #000000
}

.tarjeta__contenedora ul{
    text-decoration: none;
    list-style: none;
}
.tarjeta img{
    width: 100%;
    object-fit: cover;
    padding-bottom: 15px;
}

/*FIN PRODUCTOS.HTML*/

