/* PAGINA DE INICIO*/
@font-face {
    font-family: 'lato';
    src: url(../assets/Lato/Lato-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';
}

@import '../layout/index.scss';
@import '../layout/nosotros.scss';
@import '../layout/contacto.scss';
@import '../layout/productos.scss';
@import '../components/logo.scss';
@import '../components/footer.scss';
@import '../components/nav.scss';
@import './mediasquery.scss';