@mixin botonesproducto($color,$fuente,$backgroundcolor,$padding,$width){

    color: $color;
    font-size: $fuente;
    background-color: $backgroundcolor;
    padding: $padding;
    width: $width;
}

@mixin tarjetasproducto($display,$templatecol,$alignitem,$gap,$padding){

    display: $display;
    grid-template-columns: $templatecol;
    align-items: $alignitem;
    gap: $gap;
    padding: $padding;
}