@mixin tarjetasproducto($display,$templatecol,$alignitem,$gap,$padding){

    display: $display;
    grid-template-columns: $templatecol;
    align-items: $alignitem;
    gap: $gap;
    padding: $padding;
}